[Unit]
Description=OpenLDAP Stand-alone LDAP Daemon
After=syslog.target network.target
Documentation=man:slapd
Documentation=man:slapd-config

[Service]
Type=forking
PIDFile=/run/ldap/slapd.pid

# First define default values to allow startup without EnvironmentFile
Environment="SLAPD_LOGLEVEL=6" "SLAPD_SYSLOG_FACILITY=DAEMON" "SLAPD_CONFIG=/etc/openldap/slapd.conf" "SLAPD_URLS=ldap:/// ldaps:/// ldapi:///" "SLAPD_MORE_ARGS="
# Now those variables may be redefined by new-line-separated variable assignments in /etc/sysconfig/ldap (systemd.exec(5))
EnvironmentFile=-/etc/sysconfig/ldap

ExecStartPre=/usr/bin/cert-sh generate "ldap"
ExecStartPre=/usr/sbin/slaptest -u
ExecStart=/bin/sh -x -c "/usr/sbin/slapd -u ldap -g ldap -f ${SLAPD_CONFIG} -l ${SLAPD_SYSLOG_FACILITY} -s ${SLAPD_LOGLEVEL} -h \"${SLAPD_URLS}\" ${SLAPD_MORE_ARGS}"
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
Alias=openldap-slapd.service
